*{
   margin:0;
   padding:0;
}

html, body {
   height: 100%;
   background-color: rgb(131, 140, 145);
}

td {
   height: 64px; 
   width: 64px;
   padding: 0; 
   margin: 0;
}

.sidebar {
   background-color: #ebecf0;
   font-family: sans-serif;
   overflow: auto;
   width: 15.75rem;
   float: left;
   padding: 20px;
   box-shadow: 0 12px 24px -6px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
   border-radius: 3px;
   margin: 15px;
}

.sidebar ul li {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.sidebar ul li img {
   width: 64px;
   cursor: pointer;
}

.sidebar ul li img:hover {
}

.sidebar ul ul { 
   overflow-y: hidden;
   background-color: #fff;
   margin: 20px 0;
   transition: height 600ms ease-out;
   box-shadow: 0 1px 0 rgba(9,30,66,.25);
   border-radius: 3px;
   padding: 5px;
}

.sidebar > ul > ul > li:not(:first-child) {
   display: none;
}

.sidebar > #export-map > button {
   padding: 10px;
   cursor: pointer;
   width: 100%;
}

.open-folder > li,
.open-folder > li > img {
   display: inline !important;
   margin-right: 4px;
}

.page-body {
   box-sizing: border-box;
   margin-left: 15.05rem;
}

#download-map {
   padding-top: 2rem;
   padding-bottom: 2rem;
}

a#download-button {
   background-color: white;
   padding: 10px;
   text-decoration: none;
   font-family: sans-serif;
   color: black;
   font-weight: bold;
}

table {
   border-collapse: collapse;
}

img {
   display: block;
}

#world-map {
   background-color: black;
}

canvas {
   margin: 15px;
   border-radius: 3px;
   border: 5px solid #ebecf0;
   box-shadow: 0 1px 0 rgba(9,30,66,.25);
}
